.projects {
    width: 40%;
  }

h1 {
  color: #fff;
  font-size: 53px;
  font-family: 'Coolvetica';
  font-weight: 400;
  margin-left: 150px;
  margin-top: 200px;
  &::before {
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 18px;
    left: 15px;
    opacity: 0.6;
  }
}
h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  font-family: 'Coolvetica';
  font-weight: 400;
  display: block;
  &::before {
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 18px;
    margin-top: -40px;
    left: 15px;
    opacity: 0.6;
  }
}

.individualProjects {
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-left: 150px;
    img {
        max-width: 30%;
        margin-right: 30px;
    }
}
.realtor {
    max-width: 10% !important;
}
.description {
    font-style: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
    animation: pulse 1s;
    position: absolute;
}
a {
    color: #ffd700;
}
a:visited {
    color: #ffd700;
    
}
a:hover {
    color: white;
}