.containerdetodo {
  width: 100%;
  will-change: contents;
  opacity: 0;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  display: flex;
  flex-direction: column;
}

.h1 {
  color: #fff;
  font-size: 53px;
  font-family: 'Coolvetica';
  font-weight: 400;
  &::before {
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 18px;
    opacity: 0.6;
  }
}
.h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  font-family: 'Coolvetica';
  font-weight: 400;
  display: block;
  &::before {
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 18px;
    opacity: 0.6;
  }
}

.individualProjects {
  display: flex;
  flex-direction: row;
  margin: 40px;
  margin-left: 8rem;
  img {
    object-fit: none;
    margin-right: 20px;
  }
  .gemelas {
    display: flex;
    flex-direction: row;
  }
}

.description {
  font-style: 13px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  animation: pulse 1s;
}
a {
  color: #ffd700;
}
a:visited {
  color: #ffd700;
}
a:hover {
  color: white;
}
.projects {
  margin-left: 16rem;
}

@media screen and (min-width: 700px) and (max-width: 1075px) {
  .individualProjects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    max-width: 850px;
  }
}
@media screen and (min-width: 548px) and (max-width: 699px) {
  .individualProjects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      transform: scale(0.75);
      object-fit: cover;
    }
    .description {
      font-size: 15px;
      max-width: 850px;
    }
  }
}

@media screen and (min-width: 439px) and (max-width: 547px) {
  .individualProjects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      transform: scale(0.6);
      object-fit: cover;
    }
    .description {
      font-size: 15px;
    }
  }
  .description {
    max-width: 850px;
  }
}

@media screen and (min-width: 382px) and (max-width: 438px) {
  .individualProjects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      transform: scale(0.5);
      object-fit: cover;
    }
    .description {
      font-size: 15px;
    }
  }
  .description {
    max-width: 850px;
  }
}

@media screen and (min-width: 10px) and (max-width: 381px) {
  .individualProjects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      transform: scale(0.45);
      object-fit: cover;
    }
    .description {
      font-size: 15px;
    }
  }
  .description {
    max-width: 850px;
  }
  .projects {
    margin-left: 65px;
  }
}
