.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.container {
  img {
    margin-left: 55px;
  }
}
.papurri {
  border: 1px solid #ffd700;
  padding: 20px;
  margin-left: 65px;
  width: 700px;
}

.containerPicante {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.budget {
  border: 1px solid #ffd700;
  max-width: 500px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  h1,
  h2 {
    margin: 40px;
  }
}

#animatedLetters {
  margin: 40px;
  margin-left: 100px;
}

.containerBudget {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#whatsnext {
  margin-left: 65px;
  width: 600px;
  border: 1px solid #ffd700;
  padding: 30px;
}
.nextcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.imagenNext {
  margin-bottom: 100px;
}

@media screen and (min-width: 1408px) and (max-width: 1900px) {
  .papurri {
    width: 500px;
  }

  .containerBudget {
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .nextcontainer {
    margin-bottom: 200px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1041px) and (max-width: 1407px) {
  .containerPicante {
    flex-direction: column;
    margin-bottom: 190px;
  }
  .containerBudget {
    flex-direction: column-reverse;
  }
  .budget {
    max-width: 700px !important;
  }
  .nextcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imagenNext {
      margin-left: 55px;
    }
    #whatsnext {
      margin-top: 190px;
    }
  }
}

@media screen and (min-width: 821px) and (max-width: 1040px) {
  .containerPicante {
    flex-direction: column;
    margin-bottom: 190px;
  }
  .container {
    img {
      width: 700px;
    }
  }
  .containerBudget {
    flex-direction: column-reverse;
  }
  .nextcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imagenNext {
      margin-left: 55px;
    }
    #whatsnext {
      margin-top: 190px;
    }
  }
}

@media screen and (min-width: 627px) and (max-width: 820px) {
  .containerPicante {
    flex-direction: column;
    margin-bottom: 190px;
  }
  .container {
    img {
      width: 500px;
    }
  }
  .papurri {
    width: 500px;
  }
  .containerBudget {
    flex-direction: column-reverse;
  }
  .budget {
    margin-left: 55px !important;
  }
  .nextcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imagenNext {
      margin-left: 55px;
    }
    #whatsnext {
      width: 400px !important;
    }
    #whatsnext {
      margin-top: 190px;
    }
  }
}

@media screen and (min-width: 417px) and (max-width: 626px) {
  .containerPicante {
    flex-direction: column;
    margin-bottom: 190px;
  }
  .container {
    img {
      width: 300px;
    }
  }
  .papurri {
    width: 300px;
  }
  .h2 {
    font-size: 32px !important;
  }
  .containerBudget {
    flex-direction: column-reverse;
  }
  .budget {
    width: 350px;
    margin-left: 55px !important;
  }
  .nextcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imagenNext {
      margin-left: 55px;
    }
    #whatsnext {
      width: 280px !important;
    }
    #whatsnext {
      margin-top: 190px;
    }
  }
}

@media screen and (min-width: 358px) and (max-width: 416px) {
  .containerPicante {
    flex-direction: column;
    margin-bottom: 190px;
  }
  .container {
    img {
      width: 300px;
    }
  }
  .papurri {
    width: 240px;
  }
  .h2 {
    font-size: 25px !important;
  }
  .containerBudget {
    flex-direction: column-reverse;
  }
  .budget {
    width: 260px;
    margin-left: 55px !important;
  }
  .nextcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #whatsnext {
      width: 190px !important;
    }
    #whatsnext {
      margin-top: 190px;
    }
  }
  #animatedLetters {
    font-size: 30px;
  }
}

@media screen and (min-width: 10px) and (max-width: 357px) {
  .containerPicante {
    flex-direction: column;
    margin-bottom: 190px;
  }
  .container {
    img {
      width: 300px;
    }
  }
  .papurri {
    width: 180px;
  }
  .h2 {
    font-size: 21px !important;
  }
  .h1 {
    font-size: 35px !important;
  }
  .containerBudget {
    flex-direction: column-reverse;
  }
  .budget {
    width: 250px;
    margin-left: 55px !important;
  }
  .nextcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #whatsnext {
      width: 150px !important;
    }
    #whatsnext {
      margin-top: 190px;
    }
  }
}
